.homeTitle {
    margin-left: 30px;
    font-size: 50px;
    color: #644F9C;
}

.homeText {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 30px;

}

.homeArt {
    margin-left: 80px;
    width: 80%;
}