.buttonGroup {
    border-radius: 20px !important;
    border: 10px solid #ffffff;
    font-size: 20px;
    box-shadow: 0 4px 2px -2px gray;
    width: 300px;
    margin-right: 30px !important;
    background-color: #ffffff !important;
}


.navItems {
    font-size: 20px;
}

.navItem {
    margin-right: 50px !important;
    color: #644F9C;

}

.navItemHome {
    color: #FF6F00;
    margin-left: 30px;
}


.toggle {
    border-radius: 30px !important;
    border: 1px solid #ffffff !important;
    width: 150px;
    height: 50px;
    color: #F2F2F2;
    background-color: #FF6F00 !important;
}

@media (max-width:1080px) {
    .buttonGroup {

        width: 600px;
        margin-top: 20px;
    }

    .navItemHome {

        margin-left: 0px !important
    }
}

@media (max-width: 1200px) {
    .buttonGroup {
        margin-right: 5px !important;
        width: 250px;
        margin-top: 20px;
    }

    .navItems {
        font-size: 16px;
    }

    .toggle {

        width: 100px;
        height: 50px;

    }

    .navItemHome {
        color: #FF6F00;
    }


    .navItem {
        margin-right: 50px !important;
        color: #644F9C;
    }


}

@media (max-width: 1400px) {
    .buttonGroup {
        margin-right: 5px !important;
        width: 250px;
        margin-top: 20px;
    }

    .navItems {
        font-size: 16px;
    }

    .toggle {

        width: 100px;
        height: 50px;

    }

    .navItem {
        margin-right: 50px !important;
        color: #644F9C;
    }

    .navItemHome {
        color: #FF6F00;
    }

}