body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Prototype";
  src: local("Prototype"),
    url("./Fonts/Prototype.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
    url("./Fonts/PTSans.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansPro";
  src: local("PTSansPro"),
    url("./Fonts/PTSansPro.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}